{%load humanize%}

<div class="modal-content">
  <div class="modal-header">
    <h2 class="modal-title text-center" id="static" style="margin-right: 15px;">Transactions</h2>
    <a class=" bi bi-file-earmark-pdf" onclick="printpdf()" role="button" style="color: #800; margin-right: 10px;">Print</a>

    <a class="bi bi-file-spreadsheet" onclick="ExportToExcel()" role="button" style="color: #355e3b; margin-right: 10px;">Excel Export</a>
    <button
      type="button"
      class="btn-close shadow-none"
      data-bs-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <div class="table-responsive">
      <table class="table table-sm table-bordered table-hover" id="statement">
        <thead  class="fw-bold" style="color: #366da5;">
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
            <th scope="col">Description</th>
            <th scope="col">Notes</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>
          {%for transaction in transactions%}
           <tr>
            <td>{{transaction.lending_date|date:'j b,y'}}</td>
            <td>{{transaction.transaction_amount|intcomma}}</td>
            <td>{{transaction.get_transaction_description_display}}</td>

          

            <td>{{transaction.notes}}</td>

            
            <td data-label="Edit" ><a hx-get="{%url 'edit-transaction' transaction.id%}" hx-push-url="true" hx-target="#container"   data-bs-dismiss="modal"
              aria-label="Close" role="button" class="links bi bi-pencil-square" 
              ></a></td> 
           </tr>
         {%endfor%}
         </tbody>
      </table>
    </div>
     
    <script type="text/javascript">
      function ExportToExcel(type, fn, dl) {
        let elt = document.getElementById("Cashflow transactions");
        let name = document.getElementById('name').innerHTML;
        let wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
        return dl
          ? XLSX.write(wb, { bookType: type, bookSST: true, type: "base64" })
          : XLSX.writeFile(wb, fn || name  + (type || ".xlsx"));
      }

            
        function printpdf(){
         
          let element = document.getElementById('statement');
           let name = "cashflow transactions"

          let options = {
          jsPDF: {
          format: 'a4'
          },
          html2canvas:  {letterRendering: true, useCORS: true,     logging: true},
          margin: 1,
          image: {type: 'jpeg', quality: 1},
          filename: name+'.pdf'
        };
        html2pdf(element, options);
      }
    </script>


  </div>
</div>
