{%extends 'base/index.html'%} 
{% load static %} 
{%load humanize%} 
{%block content%}
 {%include 'base/main-nav.html'%}

<br />
<br />
<br />

<div class="container main-container" id="loans-container">
  <input
    type="text"
    class="form-control search-card"
    placeholder="Search by name/phone......."
    name="search"
    hx-get="{%url 'search-cleared-loans'%}"
    hx-trigger="keyup[delay:1000ms]"
    hx-target="#data"
    hx-indicator="#spinner"
    autocomplete="off"
  />
  <hr style="height: 0.5px" />

  <div class="table-responsive">
    <form id="checked-transactions">
      <table
        class="table caption-top table-sm table-bordered table-hover main-table"
        id="content-div"
      >
        <caption class="caption">
          <small class="caption" style="margin-right: 5px"> ClearedLoans</small>

          <a
            role="button"
            hx-put="{%url 'reverse-loans'%}"
            hx-target="#data"
            hx-indicator="#spinner"
            class="links bi bi-check"
            style="margin-right: 10px"
            >Reverse</a
          >
          <a
          class="bi bi-file-spreadsheet text-center links"
          onclick="ExportToExcel()"
          role="button"
          style="color: #355e3b"
          style="margin-right: 10px"

          >Export</a
        >
        
        </caption>

        <thead>
          <tr>
            <th scope="col">
              <input
                type="checkbox"
                class="form-check-input shadow-none"
               
                id="option{{loan.id}}"
                value="{{loan.id}}"
              />
            </th>

            <th scope="col">Staff</th>
            <th scope="col">Released</th>
            <th scope="col">Client</th>
            <th scope="col">Payable</th>
            <th scope="col">Paid</th>
            <th scope="col">Outstanding</th>
            <th scope="col">Installment</th>
             <th scope="col">Aging</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody id="data">
          {%include 'transactions/partials/clearedloans-partial.html'%}
        </tbody>
      </table>

      <div >
        <nav aria-label="Page navigation example">
          <ul class="pagination pagination-sm">
            {%if loans.has_next%}

            <li class="page-item">
              <a
                class="page-link links"
                hx-get="?page={{loans.next_page_number}}"
                hx-target="#container"
                hx-push-url="true"
              >
                Next
              </a>
            </li>

            {%endif%} 
            {%if loans.has_previous%}
            <li class="page-item">
              <a
                class="page-link links"
                hx-get="{% url 'cleared-loans'%}"
                hx-target="#container"
                hx-push-url="true"
                >First</a
              >
            </li>
            <li class="page-item">
              <a class="page-link links"
                >{{loans.number}}/{{loans.paginator.num_pages}}</a
              >
            </li>

            <li class="page-item">
              <a
                class="page-link links"
                hx-get="?page={{loans.previous_page_number}}"
                hx-target="#container"
                hx-push-url="true"
                preload
                >Previous</a
              >
            </li>
            {%endif%}
          </ul>
        </nav>
      </div>
    </form>
<hr style="height: 0.5px" />

  </div>
</div>

{%include 'transactions/skeleton-loaders/html-table.html'%}
{%include 'transactions/skeleton-loaders/list-group.html'%}


<script type="text/javascript">
  function ExportToExcel(type, fn, dl) {
    var elt = document.getElementById("content-div");
    var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
    return dl
      ? XLSX.write(wb, { bookType: type, bookSST: true, type: "base64" })
      : XLSX.writeFile(wb, fn || "cleared loans" + (type || ".xlsx"));
  }

  $("#option{{loan.id}}").change(function () {
    if ($(this).prop("checked")) {
      $("input").prop("checked", true);
    } else {
      $("input").prop("checked", false);
    }
  });
  $("#option{{loan.id}}").trigger("change");
</script>

{%endblock%}
