{%extends 'base/index.html'%} 
{% load static %} 
{%load humanize%} 
{%block content%} 
{%include 'base/main-nav.html'%} 
<br /><br /><br />
<div class="container main-container">
 
  <hr style="height: 0.5px" />

  <div class="table-responsive">
    <table
      class="table table-sm caption-top main-table table-bordered table-hover"
      id="loans"
    >
      <caption class="caption">
        <small style="margin-right: 15px" class="caption">Overdue loans</small>

        <a
          class="links bi bi-house"
          hx-get="{%url 'loans'%}"
          hx-target="#container"
          _="on click remove .d-none from #table-skeleton then add .d-none to .main-container"
          hx-push-url="true"
          style="margin-right: 15px"
        >Home</a>

        <a
        onclick="ExportToExcel()"
        role="button"
        style="color: #355e3b; margin-right: 10px"
        class="bi bi-file-spreadsheet"
      >Export</a>
      </caption>
      <thead class="fw-bold" style="color: #366da5">
        <tr>
          <th scope="col">Was due</th>
          <th scope="col">Client</th>
          <th scope="col">Loan</th>
          <th scope="col">Paid</th>
          <th scope="col">Outstanding</th>
          <th scope="col">Penalties paid</th>
          <th scope="col">Penalties balance</th>
          <th scope="col">Call</th>
        </tr>
      </thead>
      <tbody>
        {%for loan in loans%}
        <tr>
          <td data-label="Was due">{{loan.loan_aging_calculation}}</td>
          <td data-label="Client">
          {{loan.client.full_name}}
          
          </td>
         <td data-label="Loan payable">{{loan.payable_amount|intcomma}}</td>
          <td data-label="Paid">{{loan.repayments|intcomma}}</td>
          <td data-label="Outstanding">{{loan.outstanding_loan|intcomma}}</td>
          <td data-label="Penalties paid">{{loan.penalties_payment|intcomma}}</td>
          <td data-label="Penalties balance">{{loan.penalties_balance|intcomma}}</td>

         
          <td data-label="Call client"> 
             <a
            class="links bi bi-telephone-outbound"
            role="button"
            href="tel:{{loan.client.phone1}}"
           
            ></a
          ></td>
          {%endfor%}
        </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination pagination-sm">
        {%if loans.has_next%}

        <li class="page-item">
          <a
            class="page-link links"
            hx-get="?page={{loans.next_page_number}}"
            hx-target="#container"
            hx-push-url="true"
          >
            Next
          </a>
        </li>

        {%endif%} 
        {%if loans.has_previous%}
        <li class="page-item">
          <a
            class="page-link links"
            hx-get="{% url 'overdue-loans'%}"
            hx-target="#container"
            hx-push-url="true"
            >First</a
          >
        </li>
        <li class="page-item">
          <a class="page-link links"
            >{{loans.number}}/{{loans.paginator.num_pages}}</a
          >
        </li>

        <li class="page-item">
          <a
            class="page-link links"
            hx-get="?page={{loans.previous_page_number}}"
            hx-target="#container"
            hx-push-url="true"
            preload
            >Previous</a
          >
        </li>
        {%endif%}
      </ul>
    </nav>
  </div>
  <hr style="height: 0.5px" />
</div>
 

{%include 'transactions/skeleton-loaders/html-table.html'%}
{%include 'transactions/skeleton-loaders/list-group.html'%}


  <script type="text/javascript">
    function ExportToExcel(type, fn, dl) {
      let elt = document.getElementById("loans");
      let name = "Overdue";
      let wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
      return dl
        ? XLSX.write(wb, { bookType: type, bookSST: true, type: "base64" })
        : XLSX.writeFile(wb, fn || name + (type || ".xlsx"));
    }

    function printpdf() {
      let element = document.getElementById("loans");
      let Overdueloans = "Overdue";

      let options = {
        jsPDF: {
          format: "a4",
        },
        html2canvas: {
          letterRendering: true,
          useCORS: true,
          logging: true,
        },
        margin: 1,
        image: { type: "jpeg", quality: 1 },
        filename: Overdueloans + ".pdf",
      };
      html2pdf(element, options);
    }
  </script>
{%endblock%}
