{%load crispy_forms_tags%}

<div class="parent-div container-fluid mylist-group d-none" id="income-form">
  <ul class="list-group mylist-group shadow">
    <li class="list-group-item">
      <h2 class="text-center">Add income</h2>
    </li>

    <li class="list-group-item">
      <form method="POST" enctype="multipart/form-data" autocomplete="off">
        {%csrf_token%} 
        {{income_form|crispy}}

        <br />
        <div class="d-grid gap-2">
          <button
            class="btn btn-primary shadow-none save-btn"
            type="submit"
            hx-post="{%url 'add-other-income'%}"
            hx-target="#container"
            hx-push-url="true"
          >
            Submit
          </button>
          <br />

          <button
            type="button"
            class="btn btn-outline-secondary shadow-none"
            _="on click remove .d-none from #loans-container then add .d-none to #income-form"
          >
            Close
          </button>
        </div>
      </form>
    </li>
  </ul>
</div>
