{%extends 'base/index.html'%}
{%load static%}
{%load crispy_forms_tags%}
{%block content%}
{%include 'base/nav.html'%}
  
<br>
<br>
<br>
 <div class="parent-div container-fluid">
    <div class="card mycard shadow">
        <div class="card-header">
            <h2>Confirmation</h2>
          </div>
                <div class="card-body">
                   <div class='alert alert-info'>
                   Your password has been reset login <br>
                   <a class="ml-2" hx-get="{%url 'login'%}" hx-target="#container" hx-push-url="true">Login</a>
                   </div>

                </div>
        </div>
    </div>
</div>
{%endblock content%}