{%load static%} 
{%load humanize%} 
{%for loan in loans%}
<tr >
  <td data-label="Check">
    <input
      type="checkbox"
      class="form-check-input"
      name="ids"
      value="{{loan.id}}"
    />
  </td>
 
  <td
    role="button"
    hx-get="{%url 'staff-report' loan.id%}"
    hx-target="#dialog"
    data-bs-toggle="modal"
    data-bs-target="#staticBackdrop"
    preload
    data-label="Staff"
  >{{loan.staff.first_name}} </td>
  <td data-label="Released">{{loan.lending_date|date:'j b,y'}} on {{loan.day_to_display}}</td>
  <td
  role="button"
  hx-get="{%url 'loan-detail' loan.id%}"
  hx-target="#dialog"
  data-bs-toggle="modal"
  data-bs-target="#staticBackdrop"
  preload
  data-label="Client"
  >

    {{loan.client.full_name}} 
    
  </td>
 
  <td
  hx-get="{%url 'edit-loan' loan.id%}"
  hx-target="#container"
  hx-push-url="true"
  data-label="Loan payable"
  >
    {{loan.payable_amount|intcomma}}
  </td>
  
  <td
    hx-get="{%url 'loan-statement' loan.id%}"
    hx-target="#st-dialog"
    preload
    data-bs-toggle="modal"
    data-bs-target="#static"
    data-label="Paid"
    style="font-size: 16px"
  >
    {{loan.repayments|intcomma}}
  </td>

  <td data-label="Outstanding">{{loan.outstanding_loan|intcomma}}</td>
  <td
 
  data-label="Installments"
  >
    {{loan.installment|intcomma}}
  </td>



  <td data-label="Aging">
    <a
      class="dropdown-toggle fw-normal links"
      
      role="button"
      id="dropdownMenuLink"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
    {{loan.loan_aging_calculation}}

    </a>
    <ul class="dropdown-menu shadow fw-normal" aria-labelledby="dropdownMenuLink">
      <li>Disburse:{{loan.disbursed_amount|intcomma}}</li>
      <hr class="divider" />

      <li>Arrears:{{loan.arrears|intcomma}}</li>
      <hr class="divider" />
      <li>Due on:{{loan.due_date|date:'j b,y'}}</li>
     
    </ul>
  </td>

  <td data-label="Status">
  
    <a
      class="dropdown-toggle fw-normal  links"
      role="button"
      id="dropdownMenuLink"
      data-bs-toggle="dropdown"
      aria-expanded="false"
  
    >
    {{loan.status}}
    </a>

    <ul class="dropdown-menu shadow" aria-labelledby="dropdownMenuLink">
      <li>
        <a
          class="dropdown-item links bi bi-telephone-outbound"
          role="button"
          href="tel:{{loan.client.phone1}}"
         
          >Call client</a
        >
      </li>
      <hr class="divider" />
      <li>
        <a
          class="dropdown-item links bi bi-pencil-square"
          role="button"
          hx-get="{%url 'edit-loan' loan.id%}"
          hx-target="#container"
        
          hx-push-url="true"
          >Edit loan</a
        >
      </li>
      <hr class="divider" />

      <li>
        <a
          class="dropdown-item links bi bi-person"
          role="button"
          hx-get="{%url 'loan-detail' loan.id%}"
          hx-target="#dialog"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
          preload
          >Loan details</a
        >
      </li>

      <hr class="divider" />

      <li>
        <a
          class="dropdown-item links bi bi-file-spreadsheet"
          hx-get="{%url 'loan-statement' loan.id%}"
          hx-target="#st-dialog"
          preload
          data-bs-toggle="modal"
          data-bs-target="#static"
         
          >Loan Statement</a
        >
      </li>
     
    </ul>

  </td>
</tr>

{%endfor%}
