<!-- ===================table skeleton loading============================ -->

<div class="container d-none" id="table-skeleton">
  <input type="text" class="form-control skeleton-input search-card" />

  <hr style="height: 0.5px" />
  <div>
    <button
      class="btn btn-primary btn-sm skeleton-button action-button"
      disabled  style="margin-right: 15px"
    >
    <b style="opacity: 0;">Loading</b> 

    </button>
    <button
      class="btn btn-secondary skeleton-button btn-sm action-button"
      disabled   style="margin-right: 15px"
    >
    <b style="opacity: 0;">Loading</b> 
    </button>
    <button class="btn btn-secondary skeleton-button btn-sm action-button" disabled>
      <b style="opacity: 0;">Loading</b> 

    </button>
  </div>
  <br />
  <div class="responsive-table">
    <table
      class="table caption-top table-sm table-hover table-bordered main-table"
    >
      <thead>
        <tr>
          <th scope="col" class="td">
            <div class="loader"></div>
          </th>
          <th scope="col" class="td"><div class="loader"></div></th>
          <th scope="col" class="td"><div class="loader"></div></th>
          <th scope="col" class="td"><div class="loader"></div></th>
          <th scope="col" class="td"><div class="loader"></div></th>
          <th scope="col" class="td"><div class="loader"></div></th>
          <th scope="col" class="td"><div class="loader"></div></th>
          <th scope="col" class="td"><div class="loader"></div></th>
          <th scope="col" class="td"><div class="loader"></div></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
        </tr>
        <tr>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
        </tr>
        <tr>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
        </tr>
        <tr>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
        </tr>
        <tr>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
        </tr>
        <tr>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
        </tr>
        <tr>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
        </tr>
        <tr>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
          <td class="td"><div class="loader"></div></td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr style="height: 0.5px" />
</div>
