{%load humanize%}

<div class="modal-content">
  <div class="modal-header">
    <h2 class="modal-title text-center" id="static" style="margin-right: 15px">
      Loan history
    </h2>
    <a
      class="bi bi-file-earmark-pdf"
      onclick="printpdf()"
      role="button"
      style="color: #800; margin-right: 10px"
      >Print</a
    >

    <a
      class="bi bi-file-spreadsheet"
      onclick="ExportToExcel()"
      role="button"
      style="color: #355e3b; margin-right: 10px"
      >Excel Export</a
    >
    <button
      type="button"
      class="btn-close shadow-none"
      data-bs-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="table-responsive">
        <table class="table table-sm table-bordered  table-hover" id="statement">
          <thead class="fw-bold" style="color: #366da5">
            <tr>
                
              
                <th scope="col">Released</th>
                <th scope="col">Due</th>
                <th scope="col">Client</th>
                <th scope="col">Payable</th>
                <th scope="col">Paid</th>
                <th scope="col">Outstanding</th>
                <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            {%for loan in loans%}

            <tr>
            
              <td >{{loan.lending_date|date:'j b,y'}}</td>
              <td >{{loan.due_date|date:'j b,y'}}</td>
              <td>  {{loan.client.full_name}}</td>
              <td> {{loan.payable_amount|intcomma}}</td>
              <td>{{loan.repayments|intcomma}}</td>
              <td>{{loan.outstanding_loan|intcomma}}</td>
              <td>{{loan.status}}</td>
              </tr>
            {%endfor%}
          

          </tbody>
        </table>
      </div>

      <script type="text/javascript">
        function ExportToExcel(type, fn, dl) {
          let elt = document.getElementById("Loan history");
          let name = document.getElementById("name").innerHTML;
          let wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
          return dl
            ? XLSX.write(wb, { bookType: type, bookSST: true, type: "base64" })
            : XLSX.writeFile(wb, fn || name + (type || ".xlsx"));
        }

        function printpdf() {
          let element = document.getElementById("statement");
          let name = document.getElementById("name").innerHTML;

          let options = {
            jsPDF: {
              format: "a4",
            },
            html2canvas: {
              letterRendering: true,
              useCORS: true,
              logging: true,
            },
            margin: 1,
            image: { type: "jpeg", quality: 1 },
            filename: name + ".pdf",
          };
          html2pdf(element, options);
        }
      </script>
    </div>
  </div>
</div>
